:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;

  .content {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
  }
}


